<h2>Joe Orders</h2>

Choose your fighter!
{{message}}

<br>

<style>
 .my-form {
   transition:all linear 0.5s;
   background: transparent;
 }
 .my-form.ng-invalid {
   background: red;
 }
</style>




<form name="myForm" ng-controller="JoeOrdersController" class="my-form">
  Playing As: <input name="input" ng-model="playingAs" required>
  <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
  <code>playingAs = {{playingAs}}</code><br>
  <!-- <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br>
  <code>myForm.input.$error = {{myForm.input.$error}}</code><br>
  <code>myForm.$valid = {{myForm.$valid}}</code><br>
  <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br> -->
  <code>
 </form>

 <div ng-if="playingAs == 1">
    <!-- code to render a large video block-->
      <div > small boners </div>
      {{ character_one }}
</div>
<div ng-if="playingAs != 1">
    <!-- code to render the regular video block -->
    <div > boner! </div>
</div>
<br>




<form name="myForm" ng-controller="JoeOrdersController" class="my-form">
  Against: <input name="input" ng-model="playingAgainst" required>
  <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
  <code>playingAgainst = {{playingAgainst}}</code><br>
  <!-- <code>myForm.input.$valid = {{myForm.input.$valid}}</code><br>
  <code>myForm.input.$error = {{myForm.input.$error}}</code><br>
  <code>myForm.$valid = {{myForm.$valid}}</code><br>
  <code>myForm.$error.required = {{!!myForm.$error.required}}</code><br> -->
  <code>
 </form>

 <div ng-if="playingAgainst == 1">
    <!-- code to render a large video block-->
      <div > small boners </div>
      {{ character_two }}
</div>
<div ng-if="playingAgainst != 1">
    <!-- code to render the regular video block -->
    <div > boner! </div>
</div>


 <div ng-if="playingAs >= 1">
   <div ng-if="playingAgainst >= 1">
     <code>playingAs = {{playingAs}}</code>
     <code>playingAgainst = {{playingAgainst}}</code>
   </div>
 </div>
